[defaults]
inventory = inventory/hosts.ini
remote_user = ec2-user
private_key_file = ~/.ssh/woowa-beavers-keypair.pem
host_key_checking = False
stdout_callback = yaml

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyJump=ec2-user@3.36.89.18
